.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 6, 29);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    color: white;
    font-size: larger;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 3rem;
}