html {
  overflow: hidden;
  overscroll-behavior-y: none;
  touch-action: none;
  scroll-behavior: smooth;
}

* {
  transition: color .2s ease;
}

h1, h2, h3, h4, h5, h6, p {
  text-transform: capitalize;
}

body {
  /* min-width: 320px; */
  background-color: #111111;
  font-family: 'Lexend';
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

i {
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
