.app {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

/* .app .brand {
    margin-top: 0.5rem;
    font-family: 'Lexend';
    font-size: 2.3rem;
    color: white;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    position: fixed;
}

.app .brand img {
    width: 4.0rem;
} */

.app .brand-app {display: none;}

.space {
    background-color: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .sidebar {
    background-color: rgb(31, 31, 31);
    min-height: 100vh;
    padding: 0;
    position: relative;
}

.app .sidebar .topbar {
    background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    font-weight: 500;
}

.app .sidebar .topbar .explore img {
    width: 1.7rem;
    cursor: pointer;
}

.app .sidebar .topbar .account {
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.app .sidebar .topbar .account img {
    margin-left: 0.3rem;
    width: 1.7rem;
    border: 2px solid white;
    border-radius: 50%;
}



.app .sidebar .match-message {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.app .sidebar .match-message span {
    cursor: pointer;
}

.belowbar {
    display: none;
}

@media (max-width: 768px) {
    .app {
        background: linear-gradient(to top, black, rgb(58, 2, 58));
        overflow-y: auto;
    }
    .app .brand-app {
        display: block;
        padding: 10px;
        margin-left: 1%;
        font-size: 27px;
        font-family: 'Lexend';
        color: rgba(255, 255, 255, 0.897);
    }

    /* .app .brand-app img {
        width: 2.7rem;
        padding: 0%;
        height: 50px;
    } */

    .space {
        width: 100%;
        padding: 0;
        padding-bottom: 10vh;
        height: 90vh;
        background-color: transparent;
        position: relative;
        display: flex;
        align-items: normal;
    }

    .edit-active {
        padding-bottom: 0;
    }

    .sidebar {
        display: none;
    }
    .belowbar {
        display: flex;
        justify-content: space-evenly;
        height: 6vh;
        background-color: rgb(19, 19, 19);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        border-top: 1px solid rgba(255, 255, 255, 0.185);
        padding: 11px;
        gap: 40px;
        width: 100%;
    }

    .belowbar img {
        opacity: 0.9;
        width: 24px;
        height: 24px;
    }
}
