.app {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 !important;
    padding: 0 !important;
    overflow-y: hidden;
}

/* .app .brand {
    margin-top: 0.5rem;
    font-family: 'Lexend';
    font-size: 2.3rem;
    color: white;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    position: fixed;
}

.app .brand img {
    width: 4.0rem;
} */

.app .brand-app {display: none;}

.space {
    padding: 0 !important;
    background-color: transparent;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: relative;
}

.app .sidebar {
    background-color: rgb(31, 31, 31);
    min-height: 100vh;
    padding: 0;
    position: relative;
    border-left: 2px solid rgba(255, 255, 255, 0.062);
    box-sizing: border-box;
}

.app .sidebar .topbar {
    background-color: rgb(77, 16, 77);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: white;
    font-weight: 500;
}

.app .sidebar .topbar .explore i {
    font-size: 29px;
    cursor: pointer;
    color: white;
}

.app .sidebar .topbar .explore i:hover {
    transform: scale(1.2);
}

.app .sidebar .topbar .account {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    font-family: 'Niramit', sans-serif;
    box-sizing: border-box;
}

.app .sidebar .topbar .account:hover {
    transform: scale(1.1);
}

.account .account-img-container {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px rgb(255, 255, 255);
    overflow: hidden;
}

.account .account-img-container img {
    object-fit: cover;
    width: 100%;
    height: auto;
    object-fit: cover;
    image-rendering: optimizeSpeed;
    image-resolution: from-image;
}


.app .sidebar .match-message {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.app .sidebar .match-message span {
    cursor: pointer;
}

.belowbar {
    display: none;
}

@media (max-width: 768px) {
    .app {
        background: linear-gradient(to top, black, rgb(58, 2, 58));
        overflow-y: hidden;
    }
    .app .brand-app {
        display: block;
        padding: 10px;
        margin-left: 1%;
        font-size: 27px;
        font-family: 'Lexend';
        color: rgba(255, 255, 255, 0.897);
    }

    /* .app .brand-app img {
        width: 2.7rem;
        padding: 0%;
        height: 50px;
    } */

    .space {
        width: 100%;
        padding: 0 !important;
        padding-bottom: 10vh !important;
        height: 90vh;
        background-color: transparent;
        display: flex;
        align-items: normal;
        position: relative;
    }

    .edit-active {
        padding-bottom: 0 !important;
        height: 100vh;
    }

    .sidebar {
        display: none;
    }
    .belowbar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 6vh;
        background-color: rgb(19, 19, 19);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        border-top: 1px solid rgba(255, 255, 255, 0.185);
        padding: 11px;
        gap: 40px;
        width: 100%;
    }

    .belowbar img {
        opacity: 0.9;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}
