.container {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-top: 3rem;
    overflow-x: hidden;
    position: relative;
}

.table-container {
    overflow-x: scroll;
    max-height: 80vh;
}

.data {
    display: table;
    border-collapse: collapse;
    overflow-x: scroll;
    width: 100%;
}

.data thead tr {
    background-color: rgb(216, 229, 240);
}

.data th, .data td {
    padding: 1rem;
    text-align: left;
}


.data tr {
    background-color: rgb(241, 241, 241);
}

.data tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Example background color for even rows */
}

.data .action-head {
    color: orangered;
    text-align: center;
}

.data .action-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
}

.data .action-body button {
    border: none;
    border-radius: 2px;
    background-color: rgb(223, 36, 36);
    color: white;
}

.page-buttons {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page-buttons div {
    background-color: #000000;
    border-radius: 2px;
}

.page-buttons button {
    text-align: center;
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 100px;
}

.page-buttons span {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
}

.container .overlay {
    position: absolute;
    left: 25%;
    right: 25%;
    right: auto;
    width: 50%;
    height: 80%;
    z-index: 99;
}


@media (max-width: 768px) {
    .data .action-body {
        display: flex;
        flex-direction: column;
    }
    .container {
        padding: 0;
        padding-top: 2rem;
    }
    .data th, .data td {
        padding: 1.2rem;
    }
}